ion-content{
    background: gray;
}
.titulo{
    font-family: 'Titan One';   
    text-align: center;
    color: blue;
    font-size: 1.3em;
}

ion-card{
    width: 100%;
}
.table-container{
    align-items: center;
    margin: 0 auto;
    overflow-x: scroll;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}
th{
    font-weight: 400;
    font-size: 17px;
    background-color: #FFA500;
    padding: 15px;
  }
th, td {
text-align: left;
}
td{
padding: 5px;
}
.tabla{
    color: black;
}


.Button_link{
	text-align:center;
	border:1px solid #004080;
	border-radius:5px;
	cursor:pointer;
	color:white;
	padding: 15px;
	background-repeat:no-repeat;
    background-size:80%;
	background-position: 4px 3px;	
	background-color: #004080;
}
.Button_link_Ir{
    text-decoration: none;
}
.Button_link:hover{ 
    background-color: #012952;
}